{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}

<div class="container-fluid">
    
    <form id="add_vendor_form" class="form-horizontal" enctype="multipart/form-data" method="POST" action="{% url 'add_product' %}">{% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Vendor</h1>
            <hr/>
            {% for field in product_form %}
                {% if field.name != "zero_gst" and field.name != "retail_unit_price" %}
                    <div class="form-group row">
                        <label class="control-label col-sm-4" for="{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                        </div>

                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group row error controls">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <span class="help-inline" style="color:red;">{{ field.errors.as_text  }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <h1>Importer or Vendor</h1>
            <hr/>
            {% for field in price_product_form %}
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field }}
                    </div>

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group row error controls">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <span class="help-inline" style="color:red;">{{ field.errors.as_text  }}</span>
                    </div>
                </div>
            {% endfor %}
           
            <div class="form-group row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-1">
                        {{ product_form.zero_gst }}
                    </div>
                    <label class="control-label col-sm-7" for="{{ product_form.zero_gst.name }}"><span>{{ product_form.zero_gst.label }}</span></label>
                    
                </div>
            
            <h1>Retail</h1>
            <hr/>
            <div class="form-group row">
                <label class="control-label col-sm-4" for="{{ product_form.retail_unit_price.name }}"><span>{{ product_form.retail_unit_price.label }}</span></label>
                <div class="col-sm-8">
                    {{ product_form.retail_unit_price }}
                </div>
            </div>
            <div class="form-group row error controls">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <span class="help-inline" style="color:red;">{{ product_form.retail_unit_price.errors.as_text  }}</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">ADD</button>            
        </div>
    </div>
    
    </form>
    
</div>
{% endblock %}
{% block additional_post_scripts %}
{% load static %}
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script>
function ChangeCategoryEmpty()
{
    var category_key = "#category_id";
    var subcategory_key = "#subcategory_id";
    subcategory_value = $(category_key).find('option:selected').val();
    $.ajax({
        type: "POST",
        url: "{% url 'get_subcategory' %}",
        dataType: 'html',
        data: {'category' : subcategory_value.toString() },
        success: function(result) {
            $(subcategory_key).html(result);
        }
    });
}
</script>
{% endblock %}